<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="icon" href="/images/Logo.ico">
</head>
<body>
    <nav class="navbar">
        <div>
            <img class="logo" src="/images/Logo.png" alt="">
            <h1 class="title">Pokédex</h1>
        </div>
        <form action="/" method="GET" id="searchForm">
            <div class="search-bar">
                <input type="text" id="searchInput" class="search-input" name="search" placeholder="Search Pokémon"
                    autocomplete="off">
                <button id="searchButton" class="search-button" type="submit">Search</button>
            </div>
        </form>
    </nav>
    <div class="errorBlock">
        <h1 class="message">Page Not Found</h1>
        <button class="goBack" onclick="goBack()">Go Back</button>
    </div>
    <footer>
        <p>&copy; Mohamed Fiyaz 2024</p>
    </footer>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>